@{
    ViewData["Title"] = "IT - BMI Calculator";
}

<header class="text-center justify-content-centre">
    <h1 class="display-4">BMI Calculator</h1>
    <h2>By Isabelle Thorpe</h2>
</header>
<section>
</section>
